@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: hsl(207, 78%, 41%);
  --primary-gray: hsla(0, 0%, 0%, 0.25);
  --background: hsl(200, 23%, 97%);
  --text-blue: hsl(228, 55%, 36%);
}

*,
*:active,
*:hover {
  box-sizing: border-box;
}
